In [1]:
import pandas as pd
import bs4
import numpy as np

In [2]:
data_path = "../data/bridges.csv"
data_types = {'#': str,
              'Name': str,
              'Year': str,
              'Location': str,
              'Country': str,
              'Status': str
             }

bridges_df = pd.read_csv(data_path, dtype = data_types)

In [3]:
bridges_df

,#,Name,Year,Location,Country,Status,Type
0,1,470 Odra River Bridge,2009,Ostrava,Czechia,in use,composite
1,2,4708/C203 Bridge,2009,Ostrava,Czechia,in use,composite
2,3,7th Avenue Pedestrian Bridge (N1),2010,Johannesburg,South Africa,in use,composite
3,4,A 1 Lenne Bridge,2009,Hagen (NRW),Germany,in use,composite
4,5,A 113 Teltowkanal Bridge,2004,- Berlin (BE),Germany,in use,composite
...,...,...,...,...,...,...,...
15478,7953,Zwingenberg Bridge,2011,Zwingenberg (BW),Germany,in use,metal
15479,7954,Zwischenbrunner Strasse Bridge,NaN,Sankt Pölten (NOE),Austria,in use,metal
15480,7955,Zwolle Railroad Bridge,2011,Zwolle,Netherlands,in use,metal
15481,7956,Żywiec Bridge,NaN,Zywiec (SL),Poland,in use,metal
15482,7957,Þjórsá Bridge,1949,Southern Region,Iceland,in use,metal

In [4]:
pd.__version__

'1.4.2'

In [5]:
bridges_df_no_na_year = bridges_df.dropna(subset = ['Year']).reset_index(drop = True)
bridges_df_no_na_year

,#,Name,Year,Location,Country,Status,Type
0,1,470 Odra River Bridge,2009,Ostrava,Czechia,in use,composite
1,2,4708/C203 Bridge,2009,Ostrava,Czechia,in use,composite
2,3,7th Avenue Pedestrian Bridge (N1),2010,Johannesburg,South Africa,in use,composite
3,4,A 1 Lenne Bridge,2009,Hagen (NRW),Germany,in use,composite
4,5,A 113 Teltowkanal Bridge,2004,- Berlin (BE),Germany,in use,composite
...,...,...,...,...,...,...,...
11873,7950,Zweigert Bridge,2000,Essen (NRW),Germany,in use,metal
11874,7952,Zwierzyniecki Bridge,1897,Wroclaw (DS),Poland,in use,metal
11875,7953,Zwingenberg Bridge,2011,Zwingenberg (BW),Germany,in use,metal
11876,7955,Zwolle Railroad Bridge,2011,Zwolle,Netherlands,in use,metal
11877,7957,Þjórsá Bridge,1949,Southern Region,Iceland,in use,metal

In [6]:
bridges = bridges_df_no_na_year.drop(columns = ['#'])
bridges

,Name,Year,Location,Country,Status,Type
0,470 Odra River Bridge,2009,Ostrava,Czechia,in use,composite
1,4708/C203 Bridge,2009,Ostrava,Czechia,in use,composite
2,7th Avenue Pedestrian Bridge (N1),2010,Johannesburg,South Africa,in use,composite
3,A 1 Lenne Bridge,2009,Hagen (NRW),Germany,in use,composite
4,A 113 Teltowkanal Bridge,2004,- Berlin (BE),Germany,in use,composite
...,...,...,...,...,...,...
11873,Zweigert Bridge,2000,Essen (NRW),Germany,in use,metal
11874,Zwierzyniecki Bridge,1897,Wroclaw (DS),Poland,in use,metal
11875,Zwingenberg Bridge,2011,Zwingenberg (BW),Germany,in use,metal
11876,Zwolle Railroad Bridge,2011,Zwolle,Netherlands,in use,metal
11877,Þjórsá Bridge,1949,Southern Region,Iceland,in use,metal

In [7]:
dict(bridges['Country'].value_counts())

{'Germany': 2434,
 'USA': 1974,
 'France': 1228,
 'Italy': 564,
 'Spain': 556,
 'United Kingdom': 485,
 'Switzerland': 406,
 'Japan': 366,
 'China': 334,
 'Netherlands': 250,
 'Austria': 201,
 'Canada': 186,
 'Belgium': 171,
 'Russia': 156,
 'Poland': 135,
 'Rwanda': 126,
 'Norway': 119,
 'Czechia': 107,
 'Australia': 103,
 'New Zealand': 96,
 'South Korea': 87,
 'Portugal': 83,
 'Sweden': 78,
 'India': 76,
 'Finland': 66,
 'Bolivia': 62,
 'Nicaragua': 61,
 'Luxembourg': 57,
 'Denmark': 48,
 'Brazil': 47,
 'Taiwan': 46,
 'Ukraine': 44,
 'Ireland': 41,
 'Panama': 36,
 'Mexico': 36,
 'South Africa': 35,
 'Guatemala': 33,
 'Réunion': 32,
 'Serbia': 31,
 'Iran': 30,
 'Uganda': 27,
 'Hungary': 27,
 'Greece': 26,
 'Croatia': 25,
 'Slovenia': 23,
 'Colombia': 23,
 'Turkey': 21,
 'Romania': 20,
 'Vietnam': 20,
 'Argentina': 20,
 'Indonesia': 18,
 'Israel': 18,
 'Morocco': 18,
 'Slovakia': 18,
 'Peru': 18,
 'Ethiopia': 17,
 'Malaysia': 17,
 'Bangladesh': 16,
 'Venezuela': 16,
 'Thailand': 15,
 'Honduras': 15,
 'United Arab Emirates': 15,
 'Latvia': 14,
 'Haiti': 13,
 'Myanmar': 13,
 'Zambia': 12,
 'Ecuador': 11,
 'Egypt': 11,
 'Iraq': 10,
 'Nigeria': 10,
 'Tunisia': 10,
 'Algeria': 9,
 'Iceland': 9,
 'El Salvador': 9,
 'Chile': 9,
 'Bosnia and Herzegovina': 9,
 'Kenya': 8,
 'Philippines': 8,
 'Mozambique': 8,
 'Saudi Arabia': 8,
 'Nepal': 7,
 'Dominican Republic': 7,
 'Madagascar': 7,
 'Singapore': 7,
 'Andorra': 7,
 'Pakistan': 7,
 'Estonia': 7,
 'Zimbabwe': 7,
 'Oman': 7,
 'Cuba': 7,
 'Bulgaria': 7,
 'Laos': 6,
 'Democratic Republic of the Congo': 6,
 'Sri Lanka': 6,
 'Lithuania': 5,
 'East Timor': 5,
 'Uruguay': 5,
 'Cambodia': 5,
 'Côte d': 5,
 'Brunei': 5,
 'Armenia': 4,
 'Sudan': 4,
 'Kazakhstan': 4,
 'Costa Rica': 4,
 'Montenegro': 4,
 'Palau': 3,
 'Bahrain': 3,
 'Kuwait': 3,
 'Belize': 3,
 'Cameroon': 3,
 'Eswatini': 3,
 'Lesotho': 3,
 'Turkmenistan': 3,
 'Angola': 2,
 'Georgia': 2,
 'Papua New Guinea': 2,
 'San Marino': 2,
 'Namibia': 2,
 'Gabon': 2,
 'Syria': 2,
 'Albania': 2,
 'Bhutan': 2,
 'Congo': 2,
 'Mauritius': 2,
 'Ghana': 2,
 'Paraguay': 2,
 'Fiji': 2,
 'Greenland': 2,
 'French Polynesia': 2,
 'Lebanon': 2,
 'Afghanistan': 2,
 'Cyprus': 2,
 'Guinea': 2,
 'Senegal': 2,
 'Malta': 2,
 'Libya': 1,
 'North Korea': 1,
 'Jamaica': 1,
 'Barbados': 1,
 'New Caledonia': 1,
 'Solomon Islands': 1,
 'Palestine': 1,
 'North Macedonia': 1,
 'Mali': 1,
 'Martinique': 1,
 'Vanuatu': 1,
 'Qatar': 1,
 'Jordan': 1,
 'Guyana': 1,
 'French Southern and Antarctic Lands': 1,
 'Benin': 1,
 'Sierra Leone': 1,
 'Azerbaijan': 1,
 'The Gambia': 1,
 'Liberia': 1,
 'Suriname': 1,
 'Tanzania': 1,
 'Uzbekistan': 1,
 'Central African Republic': 1,
 'Tajikistan': 1}

In [8]:
us_bridges = bridges[bridges['Country'] == "USA"].reset_index(drop = True)

In [9]:
us_bridges

,Name,Year,Location,Country,Status,Type
0,Abernethy Bridge,1970,Oregon City (OR),USA,in use,composite
1,Allegheny Station Viaduct,2012,Pittsburgh (PA),USA,in use,composite
2,Antioch Bridge,1978,- Antioch (CA),USA,in use,composite
3,Bagley Street Pedestrian Bridge,2010,Detroit (MI),USA,in use,composite
4,Bear Creek Bridge,2011,Ouray County (CO),USA,in use,composite
...,...,...,...,...,...,...
1969,Yellowstone River Bridge,1930,Gardiner (MT),USA,in use,metal
1970,Yuma Crossing Railroad Bridge,1923,Yuma (AZ),USA,in use,metal
1971,Zablocki Drive Bridge,1960,Milwaukee (WI),USA,in use,metal
1972,Zieglers Ford Bridge,1904,Decoria Township (MN),USA,demolished,metal
1973,Zoarville Station Bridge,1868,Zoarville (OH),USA,in use,metal

In [13]:
raw_cities = us_bridges['Location'].str.split('(').str[0]
raw_states = us_bridges['Location'].str.split('(').str[1]

In [27]:
cities = raw_cities.str[:-1].replace(r'^[^a-zA-Z]+', '', regex = True)

In [28]:
states = raw_states.str[:-1]

In [32]:
us_bridges['city'] = cities
us_bridges['state'] = states

In [33]:
us_bridges

,Name,Year,Location,Country,Status,Type,city,state
0,Abernethy Bridge,1970,Oregon City (OR),USA,in use,composite,Oregon City,OR
1,Allegheny Station Viaduct,2012,Pittsburgh (PA),USA,in use,composite,Pittsburgh,PA
2,Antioch Bridge,1978,- Antioch (CA),USA,in use,composite,Antioch,CA
3,Bagley Street Pedestrian Bridge,2010,Detroit (MI),USA,in use,composite,Detroit,MI
4,Bear Creek Bridge,2011,Ouray County (CO),USA,in use,composite,Ouray County,CO
...,...,...,...,...,...,...,...,...
1969,Yellowstone River Bridge,1930,Gardiner (MT),USA,in use,metal,Gardiner,MT
1970,Yuma Crossing Railroad Bridge,1923,Yuma (AZ),USA,in use,metal,Yuma,AZ
1971,Zablocki Drive Bridge,1960,Milwaukee (WI),USA,in use,metal,Milwaukee,WI
1972,Zieglers Ford Bridge,1904,Decoria Township (MN),USA,demolished,metal,Decoria Township,MN
1973,Zoarville Station Bridge,1868,Zoarville (OH),USA,in use,metal,Zoarville,OH

In [ ]:
def get_avg_temp(city_name):